.activity-view {
  h4 {
    font-size: 21px;
  }
  h2 {
    font-size: 40px;
  }
  .header {
    text-align: left;
    padding: 30px 45px;
  }
  .overview {
    padding: 15px 25px;
  }
  .overview-inner {
    padding: 20px 30px;
  }
}
