.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  background: $buttonFocus;

  &:hover {
    background: darken($buttonFocus,2%);
  }
}

.form-control {
  font-size: 16px;
  color: $primaryFontColour;
}
