$hi_res: "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dppx)";
$body_font: "proxima-nova", Arial, Helvetica, sans-serif;

//Main site colour
$primaryColour: #1db7d4;
//Footer, top nav bar hover, panels on programme overview, tool hints & tips
$secondaryColour: #1db7d4;
//Main font colour
$primaryFontColour: #292929;
//Page headings, learning journey table and message feed alternate text
$secondaryFontColour: #454e58;
//Used for all white font against dark corporate colours, useful for if we need
//to switch because the colour is quite light
$whiteFontColour: #ffffff;
//Bar backgrounds and panel colours
$lightGreyBackground: #f8f8f8;
//Site background and message feed buttons
$darkGreyBackground: #e7e7e7;
//You know the drill
$whiteBackground: #ffffff;
//Footer link colours
$footerLinks: #afbdcc;
//Learning journey/Message feed border colours
$borderGrey: #dfe1e6;
//Border white, again if we have a light colour, might want to switch this
$borderWhite: #ffffff;
//Underline in learning journey modules, members module and resource widget
$underlineGrey: #d5d6d7;
//Success tick on learning journey table
$success: #7eac0e;
//Lighter shade of success green;
$lightGreenSuccess: #def0d7;
//Booking screen nav colour
$bookingNav: #c7cacd;
//Disabled text areas
$disabled: #cccccc;
//Button hover and focus colour
$buttonFocus: #0071ce;
//Text from module dropdown on nav colour
$headerTextDropdownColour: #d7d2cd;
//Underline of the dropdown text
$headerTextDropdownUnderlineColour: #565a5f;
//Underline of the primary colour (home view "LEARNING JOURNEY link for example")
$primaryColourUnderline: #e9cfd0;
//Underline on secondary colour
$secondaryColourUnderline: #83878D;
//Date display colour on message feed
$messageBoardDateColour: #999999;
//The colour in the background of the banners, used as a solid colour on tools
$bannerBackgroundGrey: #E0DCD6;

$siteFooter: #485155;

$postButton: #565abe;

$navigationColour: #1db7d4 ;

$learningJourney: #e80c79;

$textColour:  #e80c79;

$subMenu:  #0071ce  ;



//fonts
p {
  font-size: 16px;
  line-height: 20px;
  margin: 10px 0;
}

h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 10px 0;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 24px;
  margin: 20px 0;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 12px;
}

.semi-bold {
  font-weight: 600;
}

.btn {
  border-radius: 2px;
}

textarea {
  border: 1px solid #d0cfcf;
}

html {
  height:100%;
}

body {
  height: 100%;
  background-color: $darkGreyBackground;
  font-family: $body_font;
  position: relative;
  color: $primaryFontColour;
  font-size: 15.5px;
}

.container-fluid {
  max-width: 1214px;
  border-left: 1px solid $borderGrey;
  border-right: 1px solid $borderGrey;
  padding: 0;
}

#app {
  overflow:hidden;
}

input[type="password"] {
  font-family: sans-serif !important;
}

.btn {
  font-weight: bold;
}

.btn-primary,
.btn-primary:active,
.btn-primary:focus {
  background: $buttonFocus;

  &:hover {
    background: darken($buttonFocus,2%);
  }
}

.form-control {
  font-size: 16px;
  color: $primaryFontColour;
}
