$mobile_min: 320px;
$mobile_max: 767px;
$tablet_min: 768px;
$tablet_max: 1024px;
$max_width: 1244px;

$hi_res: "(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dppx)";
$body_font: "proxima-nova", Arial, Helvetica, sans-serif;

$body_color: #616161;
$site_red: #b60011;
