$icon-font-path: '/bower_components/bootstrap-sass/assets/fonts/bootstrap/';
@import "./app/bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/fontawesome/scss/font-awesome";
@import "utils";
@import "controls";
@import "./views/mainView";
@import "./views/personalLearningJourney";
@import "./views/loginView";
@import "./views/moduleView";
@import "./views/faqView";

@font-face {
  font-family: "FontAwesome";
  src: url("../../bower_components/fontawesome/fonts/fontawesome-webfont.eot?#iefix");
  src: url("../../bower_components/fontawesome/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
  url("../../bower_components/fontawesome/fonts/fontawesome-webfont.woff") format("woff"),
  url("../../bower_components/fontawesome/fonts/fontawesome-webfont.ttf") format("truetype"),
  url("../../bower_components/fontawesome/fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  height:100%;
}

body {
  height: 100%;
  background-color: #E7E7E7;
  font-family: $body_font;
  position: relative;
  color: $body_color;
}

.container-fluid {
  max-width: $max_width;
}

#app {
  overflow:hidden;
}

input[type="password"] {
  font-family: sans-serif !important;
}
