$icon-font-path: '/bower_components/bootstrap-sass/assets/fonts/bootstrap/';
@import "./app/bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../bower_components/fontawesome/scss/font-awesome";
@import "utils";
@import "controls";
@import "./views/personalLearningJourney";
@import "./views/loginView";
@import "./views/moduleView";
@import "./views/actionLearningZone";
@import "./views/leadershipProgrammeView";
@import "./views/onBoardingView";
@import "./views/homeView";
@import "./views/toolkitView";
@import "./views/toolkitPageView";
@import "./views/activityView";
@import "./views/profileView";
@import "./views/bookingView";
@import "./components/header";
@import "./components/footer";
@import "./components/messageboard";
@import "./components/miniDataCaptureForm";
@import "./components/dataCaptureForm";
@import "./components/upload";
@import "./components/slideshow";
@import "./components/tooltip";
@import "./components/learningJourneyTable";
@import "./components/miniProfileTooltip";
@import "./components/carousel";
@import "./components/membersModule";
@import "./components/resourceWidget";
@import "./components/tabStack";

@font-face {
  font-family: "FontAwesome";
  src: url("../../bower_components/fontawesome/fonts/fontawesome-webfont.eot?#iefix");
  src: url("../../bower_components/fontawesome/fonts/fontawesome-webfont.eot?#iefix") format("embedded-opentype"),
  url("../../bower_components/fontawesome/fonts/fontawesome-webfont.woff") format("woff"),
  url("../../bower_components/fontawesome/fonts/fontawesome-webfont.ttf") format("truetype"),
  url("../../bower_components/fontawesome/fonts/fontawesome-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

html {
  height:100%;
}

body {
  height: 100%;
  background-color: $darkGreyBackground;
  font-family: $body_font;
  position: relative;
  color: $primaryFontColour;
  font-size: 15.5px;
}

.container-fluid {
  max-width: 1214px;
  border-left: 1px solid $borderGrey;
  border-right: 1px solid $borderGrey;
  padding: 0;
}

#app {
  overflow:hidden;
}

input[type="password"] {
  font-family: sans-serif !important;
}

.btn {
  font-weight: bold;
}
