$icon-font-path: '/bower_components/bootstrap-sass/assets/fonts/bootstrap/';
@import "./app/bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "utils";
@import "./views/mainView";
@import "./views/loginView";

html {
  height:100%;
}

body {
  color: $body_color;
  font-family: $body_font;
  position: relative;
  min-height: 100%;
  background-color: #E7E7E7;
}

#app {
  overflow:hidden;
}
