.login-background {
  background: url('/assets/img/login-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.my-cohort-banner {
  background: url('/assets/img/my-cohort.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.booking-banner {
  background: url('/assets/img/booking.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.home-banner {
  background: url('/assets/img/home-introduction.png');
  background-size: cover;
}

.tile-1-background {
  background: url('/assets/img/home-programme.png');
  background-size: cover;
}

.tile-2-background {
  background: url('/assets/img/home-help.png');
  background-size: cover;
}

.programme-first-background {
  background: url('/assets/img/programme-introduction.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.programme-second-background {
  background: url('/assets/img/programme-what-in-it.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.programme-third-background {
  background: url('/assets/img/programme-leadership-qualities.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.programme-fourth-background {
  background: url('/assets/img/programme-workshop.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.programme-fifth-background {
  background: url('/assets/img/programme-development.png');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.toolkit-banner {
  background: url('/assets/img/toolkit.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.learning-journey-banner {
  background: url('/assets/img/learning-journey.png') no-repeat left center;
  background-size: cover;
}
