.view-edit-post {
  padding: 15px 30px;
  .edit-post-form {
    padding: 0 45px;
    margin-top: 35px;
    max-height: 350px;
    .likes-counter {
      bottom: 20px;
    }
    .btn-publish {
      bottom: 20px;
    }
  }
  .btn-delete {
    padding: 22px 30px;
    top: calc(50% - 44px);
    i {
      font-size: 80px;
    }
  }
}
