.view-edit-post {
  padding: 15px 30px;
  .edit-post-form {
    padding: 0 45px;
    margin-top: 35px;
    max-height: 300px;
    .likes-counter {
      bottom: 20px;
    }
    .btn-publish {
      bottom: 20px;
    }
    &.first-post {
      max-height: 350px;
      .info-bar {
        .panel {
          width: 50%;
        }
      }
    }
  }
}
