.view-edit-post {
  h3 {
    font-size: 23px;
    font-weight: bold;
    margin-top: 15px;
  }
  .evidence-wrapper {
    width: 60%;
  }
  .edit-post-form {
    padding: 0 45px;
  }
  .form-wrapper {
    width: 40%;
  }
  .action-buttons {
    padding: 15px;
  }
}
