.view-edit-post {
  padding: 10px;
  .post-wrapper {
    height: 490px;
    background-color: $connectionsWallLightGreen;
    border: 2px solid $textAreaBorder;
  }
  .evidence-wrapper {
    background-color: $whiteBackground;
    float: left;
    padding: 0;
    width: 60%;
    height: 100%;
  }
  .form-wrapper {
    border: none;
    float: left;
    width: 40%;
    height: 100%;
  }
  .action-buttons {
    position: relative;
  }
  .edit-post-form {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    max-height:360px;
    overflow: auto;
    h3 {
      margin-bottom: 17px;
    }
    input, textarea {
      margin-bottom: 10px;
    }
    input {
      height: 45px;
    }
    textarea {
      height: 170px;
    }
    p {
      position: relative;
    }
    .likes-counter {
      position: absolute;
      bottom: 15px;
    }
    .btn-publish {
      position: absolute;
      right: 45px;
      bottom: 15px;
    }
  }
  .btn-delete {
    padding: 18px 24px;
    top: calc(50% - 50px);
    right: calc(40% - 98px);
    i {
      font-size: 64px;
    }
  }
}
