.personal-learning-journey {
  .header {
    padding: 40px;
    text-align: left;
    background-positon: center;
    h2 {
      margin: 20px 0;
      font-size: 40px;
    }
  }
  .body {
    padding: 30px;
  }
}
