.carousel {
  .icon {
    font-size: 68px;
    height: 120px;
    width: 120px;
    margin: 0 auto;
    background-color: $site_red;
    color: $white;
    border-radius: 50%;
  }
}

.carousel-control {
  display: none;
  height: 27px;
  width: 27px;
  margin:0 20px;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  &:hover {
    opacity:.8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  }
  img {
    width: 100%;
    display: block;
  }
  .left, .right {
    background: none;
    filter:none;
    margin-top: 150px;
  }
}

.carousel-indicators {
  position: static;
  width: auto;
  margin: 15px;
}

.carousel-indicators li {
  border-color: $site_red;
  margin:0 3px;
  width:12px;
  height:12px;
}

.carousel-indicators li.active {
  background: $site_red;
  margin:0 3px
}

@media (min-width : $tablet_min) {
  .carousel-control {
      height: 36px;
      width: 36px;
  }
}
