.details-panel {
  background-color: $white;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid $dark_grey;
  .panel-header {
    background-color: $dark_blue;
    padding: 10px 20px;
    color: $white;
    border-radius: 3px 3px 0 0;
  }
  .panel-inner {
    padding: 30px;
  }
  .panel-row {
    label {
      text-align: left;
      padding: 5px;
      float: left;
      width: 30%;
      font-weight: normal;
      margin: 10px 0;
    }
    .form-control {
      float: right;
      width: 70%;
      height: 40px;
      border-radius: 1px;
      background-color: $light_grey;
      border: none;
    }
    input:focus {
      border-color: #B60011;
      box-shadow: 0 1px 1px #ffffff inset, 0 0 8px #B60011;
      outline: 0 none;
    }
    .btn {
      background-color: $site_red;
      color: $white;
      float: right;
      padding: 4px 18px;
      margin: 10px 0;
    }
  }
}
