.header {
  background-color: $white;
}
.top-nav-bar {
  padding: 15px 30px;
  .programme-logo {
    max-width: 275px;
    width: 100%;
    float: left;
  }
  .cirrus-logo {
    margin-left: 25px;
  }
  .header-right {
    float: right;
    img {
      float: right;
    }
  }
  .links {
    float: left;
    margin-top: 5px;
    p {
      float: left;
      font-size: 14px;
      margin-top: 12.5px;
      font-weight: bold;
    }
    a {
      color: $body_color;
      border-bottom: 1px solid $border_grey;
      text-decoration: none;
    }
    a:active {
      text-decoration: none;
    }
    a:hover {
      text-decoration: none;
    }
  }
  .profile-pic {
    float: left;
    margin-right: 10px;
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
    }
  }
}

.nav-bottom-bar {
  ul {
    margin-bottom: 0;
    padding: 0;
    list-style-type: none;
  }
  .sub-nav {
    display: none;
    width: 100%;
    padding: 0;
    position: relative;
    z-index: 1;
    opacity: 0.97;
  }
  li {
    position: relative;
    width: 20%;
    display: inline-block;
    text-align: center;
    background-color: $site_red;
    color: $white;
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    cursor: pointer;
    padding-bottom: 10px;
    a {
      color: $white;
      line-height: 20px;
      text-decoration: none;
      transition: color 0.25s;
    }
    i {
      margin-right: 10px;
      font-size: 22px;
    }
    ul {
      position:absolute;
      left:0;
      top: 46px;
    }
    .sub-nav li {
      background-color: $dark_blue;
      opacity: 0.95;
      width: 100%;
      position:relative;
      margin:0;
      display:block;
    }
    .sub-nav-content {
      width: 100%;
      padding: 15px 20px;
      background-color: $dark_blue;
      ul {
        position: static;
      }
      .col-sm-6 {
        padding-left: 10px;
        padding-right: 10px;
      }
      .col-sm-6:nth-child(2) {
        ul {
          list-style-type: circle;
        }
      }
      li {
        overflow: hidden;
        height: 44px;
        padding: 0;
        margin: 0;
        border-bottom: 2px solid #565a5f;
        text-align: left;
      }
      .modules {
        img {
          height: 25px;
          width: 25px;
          margin-right: 7.5px;
        }
      }
      p {
        font-size: 14px;
        font-weight: bold;
        display: inline-block;
        margin-top: 11px;
        transition: color 0.25s;
        color: #d7d2cd;
      }
      i {
        vertical-align: middle;
        font-size: 6px;
        line-height: 12px;
      }
      li:hover {
        p {
          color: $white;
        }
      }
    }
  }
  li:hover {
    a {
      color: #fdb7b7;
    }
  }
  .sub-menu {
    transition: background-color 0.25s;
    a {
      transition: color 0.25s;
    }
    ul {
      width: 100%;
    }
  }
  .sub-menu:hover {
    background-color: $dark_blue;
    a {
      color: $white;
    }
  }
}

#sub-nav-journey {
  min-width: 100%;
  width: 200px;
}
#sub-nav-module {
  width: 240px;
  min-width: 100%;
}

.small-nav {
  width: 100%;
  .programme-logo {
    float: left;
    padding: 10px;
    max-width: 235px;
    img {
      width: 100%;
    }
  }
  .nav-icon {
    font-size: 45px;
    width: 45px;
    float: right;
    line-height: 45px;
    margin-top: 10px;
  }
  .mobile-nav {
    width: 100%;
    position: absolute;
    background-color: $dark_blue;
    z-index: 100;
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    li {
      border-bottom: 1px solid $white;
      cursor: pointer;
      font-weight: bold;
      padding:10px 25px;
      padding-right: 10px;
      height: 50px;
      color: $white;
      i {
        font-size: 22px;
        margin-top: 3px;
        margin-right: 10px;
      }
      a {
        color: $white;
      }
      ul {
        display: none;
      }
    }
    .sub-nav {
      border-bottom: 1px solid $white;
      background-color: #606a75;
      a {
        text-decoration: none;
      }
      li {
        padding: 0;
        padding-top: 15px;
        padding-left: 10px;
        padding-right: 10px;
        margin: 0 25px;
        border-bottom: 2px solid #7e848b;
      }
      a:last-child {
        li {
          border-bottom: none;
        }
      }
      p {
        display: inline;
        color: #d7d2cd;
      }
      img {
        position: relative;
        top: -1px;
        margin-right: 10px;
      }
      i {
        position: relative;
        top: -2px;
        color: #d7d2cd;
        font-size: 6px;
        margin-right: 10px;
      }
      img {
        height: 25px;
        width: 25px;
      }
    }
    .cirrus-footer {
      text-align: right;
      background-color: $site_red;
    }
    .my-learning {
      .sub-arrow {
        float: right;
      }
    }
    .no-border-bottom {
      border-bottom: none;
    }
  }
}

@media (max-width: 1023px) {
  .top-nav-bar {
    padding: 15px;
  }
}
