/* The SOJ Header */
.header {
  background-color: $white;
  .row {
    margin: 0;
  }
  .col-md-4 {
    width: 36%;
    padding: 0;
  }
  .col-md-8 {
    width: 64%;
    padding: 0;
  }
  .header-logo {
    padding: 15px 40px;
    img {
      width: 100%;
    }
  }
  li {
    display: inline;
  }
  ul {
    padding: 0;
    float: right;
  }
  .tabbed-nav {
    img {
      padding: 10px;
    }
    li {
      float: left;
      background-color: $site_red;
      padding: 10px 20px;
      font-weight: 600;
      margin: 0 5px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
    }
    a {
      color: $white;
    }
  }
  .nav-buttons {
    ul {
      text-align: right;
      width: 100%;
      margin-bottom: 20px;
    }
    li {
      display: inline-block;
      text-align: center;
      padding: 0 15px;
    }
    a {
      font-size: 14px;
      color: $site_red;
      font-weight: bold;
    }
  }
}
.small-nav {
  .top-logo {
    img {
      display: block;
      margin: 0 auto;
      padding: 10px;
      width: 100%;
      max-width: 325px;
    }
  }
  .dark-blue {
    background-color: $dark_blue;
    img {
      padding: 10px;
      float: left;
    }
    .nav-icon {
      float: right;
      color: $white;
      font-size: 36px;
      padding: 0 10px;
      cursor: pointer;
    }
  }
}

.mobile-nav {
  position: absolute;
  width: 100%;
  z-index: 1000;
  background-color: $light_grey;
  ul {
    width: 100%;
  }
  li {
    cursor: pointer;
    background-color: $white;
    padding: 10px;
    float: left;
    display: block;
    width: calc(100% - 10px);
    margin: 2.5px 5px;
  }
}

@media (max-width: 1125px) {
  .header {
    .header-logo {
      padding: 10px 5px;
    }
    .tabbed-nav {
      li {
        padding: 15px 10px 5px 10px;
        margin: 0 2px;
      }
      img {
        padding: 10px;
      }
    }
    .nav-buttons {
      li {
        width: 16.666%;
        padding: 0;
      }
      a {
        font-size:14px;
      }
    }
  }
}
