.learning-journey-module {
  font-size: 14px;
  color: $dark_blue;
  .row-icon {
    background-color: $white;
    border: none;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    text-align:left;
    position:relative;
    border:none;
  }
  a:hover {
    text-decoration: none;
  }
  table {
    .heading th:last-child {
      border-bottom:none;
    }
    .heading {
      th {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 15px 30px;
      }
      .row-icon {
        text-align: left;
        padding-left: 0px;
        img {
          position: relative;
          background-color: $white;
          border: none;
          height: 45px;
          width: 45px;
          z-index: 100;
        }
      }
    }
    thead{
      th {
        text-align: center;
      }
      th:first-child{
        text-align: left;
        border:none;
      }
      .learning-activity {
        text-align:left;
        width: 25%;
        border-left: 1px solid $dark_grey;
        padding-left: 30px;
      }
      .title {
        text-align: left;
        font-weight:bold;
        font-size:19px;
        a {
          border-bottom: 2px solid #83878D;
          color: $white;
        }
      }
      .sub-title{
        font-size: 14px;
        text-align: left;
        font-weight:normal;
      }
      .row-icon {
        position:relative;
        border:none;
        &:after{
          content: "";
          display: block;
          position: absolute;
          top: 30px;
          left:21px;
          bottom:10px;
          border-left:2px dotted #222;
          height:99%;
          z-index:1;
        }
        i {
          width:35px;
          height:35px;
          border:2px solid black;
          text-align:center;
          line-height:35px;
          border-radius:50%;
          background-color:black;
          color:white;
          z-index:2;
          position:relative;
          margin-left:-5px;
          font-size:24px;
        }
      }
    }

  }
  tbody{
    tr:last-child{
      .row-icon{
        &:after {
          border-left:none;
        }
      }
    }
    .row-icon {
      text-align:left;
      position:relative;
      border:none;

      &:after{
        content: "";
        display: block;
        position: absolute;
        top: 40px;
        left :21px;
        bottom:10px;
        border-left:2px dotted #222;
        height:99%;
        z-index:1;
        padding-left: 10px;
      }

      i {
        width:30px;
        height:30px;
        text-align:center;
        line-height:28px;
        border-radius:50%;
        background-color: $dark_blue;
        color: $white;
        font-size: 16px;
        z-index:2;
        position:relative;
        left: -1px;
      }
    }
    td {
      text-align:center;
      line-height: 14px;
      vertical-align: middle !important;
    }
    .activity {
      text-align:left;
      font-weight:bold;
      padding-left: 30px;
      border-left: 1px solid $dark_grey;
      a {
        color: $dark_blue;
        border-bottom: 1px solid $underline_grey;
      }
    }
    .date {
      width: 17.5%;
    }
    .type{
      width: 10%;
    }
    .time {
      width: 15%
    }
    .ical {
      width: 5%;
      .ical-button {
        padding: 0;
        background-color: $dark_grey;
        width: 21px;
        height: 21px;
        border-radius: 2px;
        border: 1px solid $white;
        margin: 0 auto;
        i {
          color: $dark_blue;
          font-size: 13px;
          line-height: 16px;
        }
      }
    }
    .location {
      width: 17.5%;
      font-weight:bold;
      p {
        display: inline;
        font-size: 14px;
        border-bottom: 1px solid $underline_grey;
      }
    }
    .status {
      width: 10%;
      border-right: 1px solid $dark_grey;
      font-size: 20px;
      .btn {
        background-color: $site_red;
        max-width: 85px;
        width: 100%;
        color: $white;
        padding: 3px 12px;
      }
      .icon {
        margin: 0 auto;
        height: 25px;
        width: 25px;
        color: $white;
        border-radius: 50%;
        font-size: 17px;
        line-height: 26px;
      }
      .green {
        background-color: $success;
      }
      .red {
        background-color: $site_red;
      }
    }
  }
  tfoot{
    tr{
      td{
        &:last-child{
          border-top: 1px solid $dark_grey;
          background-color:#f6f7f8;
          text-align:right;
          border-bottom-right-radius: 5px;
        }
        &:first-child{
          border-bottom-left-radius: 5px;
          border-top:none;
        }
      }
    }
  }
  &.widget {
    .row-icon {
      &:after{
        content: "";
        display: block;
        position: absolute;
        top:50px;
        left:30px;
        bottom:10px;
        border-left:2px dotted #222;
        height:99%;
        z-index:1;
      }
    }
    td{
      vertical-align: middle;
      border:none;
      padding: 12px 4px;
    }
    .right-arrow{
      float:right;
      width:35px;
      height:35px;
      border-radius: 50%;
      background-color: $site_red;
      color:white;
      text-align:center;
      line-height:36px;
      font-size:24px;
      i{
        color:white;
      }
    }
    .rank{
      width: 40px;
      height:40px;
      background-color: white;
      font-size:24px;
      text-align:center;
      line-height: 36px;
      position:relative;
      z-index:100;
      border-radius: 50%;
      font-weight:bold;
      border:3px solid #222;
      color:#010101;
      margin-left: 7px;
      &.passed-date{
        color:white;
        border:none;
        background-color: $site_red;
      }
      &.passed-date:first-child {
        line-height: 42px;
      }
    }
    .module-text {
      float: left;
      margin-left: 20px;
      h5:first-child {
        margin-bottom: 5px;
        margin-top: 12px;
      }
      h5:nth-child(2) {
        margin-top: 5px;
      }
    }
    .module-overview {
      padding: 10px 20px;
      background-color: #f6f7f8;
      border-radius:6px;
      font-size:18px;
      font-weight:normal;
      line-height:24px;
      border:2px solid #dfe1e6;
      position:relative;
      i{
        font-size: 46px;
        float:left;
        margin-top: 10px;
        color: $site_red;
      }
      &.current {
        background-color: $site_red;
        color:white;
        i{
          color: white;
        }
      }
      img {
        height: 54px;
        margin-top: 5px;
        float: left;
      }

      .notice{
          width:30px;
          height:30px;
          background-color:#e87300;
          position:absolute;
          display:table;
          vertical-align:middle;
          text-align:center;
          i {
            width:100%;
            font-size:18px;
            margin-top: 7px;
            color:white;
          }
          top:0;
          right:0;
          border-top-right-radius: 5px;
          border-bottom-left-radius: 5px;
          &.complete{
            background-color:#069f22;
          }
      }
    }
    .small-row {
      .activity {
        padding: 0;
      }
      .icon {
        width: 40px;
        float: left;
      }
      .text {
        width: 70%;
        margin-left: 45px;
        font-size: 14px;
        line-height: 18px;
        text-align: left;
      }
      .notice {
        width: 30px;
        height: 30px;
        i {
          font-size: 12px;
        }
      }
    }
  }
}

.learning-journey-module {
  .table {
    margin-bottom: 0;
  }
  .heading {
    background-color: $dark_blue;
    color: $white;
  }
  .table-headings {
    font-size: 12px;
    color: $dark_blue;
    background-color: #dbdbdb;
    td:last-child {
      border-right: 1px solid $dark_grey;
    }
    th {
      border: none;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    th:last-child {
      border-right: 1px solid $dark_grey;
    }
  }
  .footer {
    font-size: 14px;
    background-color: $light_grey;
    text-align: right;
    font-weight: bold;
    margin-bottom: 0;
    span {
      border-bottom: 1px solid $underline_grey;
    }
    td {
      padding: 20px;
    }
    td:first-child {
      border-left: 1px solid $border_grey;
      border-bottom: 1px solid $border_grey;
    }
    td:last-child {
      border-right: 1px solid $border_grey;
      border-bottom: 1px solid $border_grey;
    }
    .show-icon-footer {
      background-color: $white;
      border-left: none !important;
      border-bottom: none !important;
      border-right: 1px solid $border_grey;
    }
  }
  .custom-tooltip {
    padding: 10px;
    p {
      font-weight: normal;
      padding: 5px;
      padding-bottom: 0;
      border: none !important;
    }
  }
}

.plj-table-row:nth-child(even) {
  background-color: $light_grey;
}

.plj-table-row {
  height: 60px;
  td {
    vertical-align: middle;
  }
}

.plj-table-row:last-child {
  .activity {
    border-bottom: 1px solid $dark_grey;
  }
}

.plj-small-row {
  border: 1px solid $dark_grey;
  text-align: center;
  .tooltip-trigger {
    display: inline-block;
    position: relative;
    .custom-tooltip {
      left: -50%;
    }
  }
  .btn {
    width: 100%;
    max-width: 90px;
    background-color: $site_red;
    color: $white;
  }
  .icon {
    width: 22px;
    height: 22px;
    margin: 0 auto;
    border-radius: 50%;
    i {
      color: $white;
      font-size: 15px;
    }
  }
  .green {
    background-color: #7EAC0E;
  }
  .red {
    background-color: $site_red;
  }
}
.plj-small-row:nth-child(odd) {
  background-color: $light_grey;
}

@media (max-width: 767px) {
  .learning-journey-module.widget {
    h5 {
      font-weight: 600;
      margin-bottom: 5px;
    }
    .module-overview {
      padding: 10px;
      margin: 3px 0;
      i {
        font-size: 28px;
        margin-top: 20px;
      }
      .notice {
        width: 20px;
        height: 20px;
        i {
          margin-top: 4px;
        }
      }
    }
    .small-row {
      .text {
        width: 75%;
      }
    }
  }
}
