textarea[disabled="true"] {
	background-color: #ccc;
	box-shadow: inset rgba(0,0,0,.1) 0px 0px 12px;
}

.message-board {
	padding: 5px;
	height: 100%;
}
.message:first-child {
	margin-top: 16px;
}
.message {
	border: 1.5px solid $border_grey;
	margin: 8px 0;
	background-color: $white;
	color: $body_color;
	.header {
		background-color: $white;
		padding: 15px;
		img {
			height: 40px;
			width: 40px;
			border-radius: 50%;
			display: block;
			float: left;
		}
	}
	.header-text {
		margin-left: 10px;
		margin-top: 5px;
		float: left;
		p {
			margin: 0;
			color: $site_red;
		}
		.date-display {
			position: relative;
			display: block;
			float: left;
			font-size: 11px;
			font-weight: 600;
			color: #999;
		}
		span {
			color: #999;
			font-size: 14px;
			float: left;
		}
	}
	.body {
		padding: 0 15px;
		margin: 0;
		width: auto;
		textarea {
			width: 100%;
		}
		p {
			margin-top: 0;
		}
		a {
			color: $site_red;
		}
	}
	.admin-buttons {
		float: right;
		a {
			background-color: $border_grey;
			padding: 2px;
			margin: 0 2px;
			height: 25px;
			width: 25px;
			font-size: 14px;
			color: $dark_blue;
		}
	}
	.see-more {
		cursor: pointer;
		text-decoration: underline;
		color: $site_red;
		span {
			color: $site_red;
		}
		i {
			color: $site_red;
			font-size: 12px;
		}
	}
}
.post-form {
	background-color: $light_grey;
	padding: 15px;
	border-top: 1px solid $border_grey;
	img {
		float: left;
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
	.post-message {
		float: left;
		margin-left: 10px;
		margin-top: 10px;
		width: calc(100% - 50px);
	}
	textarea {
		resize: none;
		width: 100%;
		padding: 2px 5px;
	}
}

textarea:focus {
	border-color: $site_red;
	box-shadow: 0 1px 0px $white inset, 0 0 6px $site_red;
	outline: 0 none;
}

.comment-list {
	background-color: $light_grey;
	border-top: 1px solid $border_grey;
	.show-comments-link {
		padding: 15px;
		a {
			cursor: pointer;
			color: $body_color;
		}
		i {
			font-size: 14px;
		}
	}
}

.comment {
	color: $body_color;
	padding: 15px;
	border-bottom: 1px solid $border_grey;
	img {
		float: left;
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
	h6 {
		margin: 0;
		font-size: 18px;
		font-weight: bold;
		color: $site_red;
		text-decoration: underline;
	}
	.comment-content {
		float: left;
		margin-left: 10px;
		width: calc(100% - 50px);
		line-height: 15px;
		h6 {
			float: left;
			margin-right: 5px;
		}
		.red-bold {
			text-decoration: underline;
			font-weight: bold;
			color: $site_red;
			margin-right: 5px;
		}
		p {
			display: inline;
			font-size: 14px;
			color: $body_color;
			margin: 0;
		}
	}
	.comment-date-display {
		margin-top: 2px;
		position: relative;
		display: block;
		float: left;
		font-size: 11px;
		font-weight: 600;
		color: #999;
	}
	textarea {
		width: 100%;
		margin-top: 5px;
		resize: none;
	}
}
.comment:last-child {
	border-bottom: none;
}

.save-button {
	background-color: $site_red;
	color: $white;
}

.media-grid {
	background-color: $white;
	margin: 2px 0;
}

.grid-row {
	img {
		padding: 0 2px;
	}
}

.post-form-status {
	border: 1px solid $border_grey;
	background-color: $light_grey;
	padding: 15px;
	.post-profile {
		float: left;
		margin-top: 8px;
		img {
			height: 40px;
			width: 40px;
			border-radius: 50%;
		}
	}
	.post-message {
		float: left;
		width: calc(100% - 50px);
		margin-left: 10px;
		margin-top: 5px;
		margin-bottom: 10px;
	}
	textarea {
		width: 100%;
		resize: none;
		padding: 2px 5px;
		min-height: 50px;
	}
	.post-admin-buttons {
		float: left;
		width: 85%;
		div {
			display: inline-block;
			border-radius: 2px;
			.upload-media {
				background-color: $dark_grey;
				margin-right: 5px;
			}
			.embed-video-button {
				background-color: $dark_grey;
			}
			a {
				color: $body_color;
			}
			i {
				font-size: 14px;
			}
		}
		.url-field {
			margin-left: 5px;
			input {
				height: 30px;
			}
		}
		.go {
			margin-left: 5px;
			color: $white;
			background-color: $site_red;
			font-weight: bold;
			padding: 4px 12px;
		}
	}
	.post {
		float: right;
		width: 15%;
		a {
			height: 33px;
			float: right;
			width: 100%;
			max-width: 100px;
			background-color: $site_red;
			color: $white;
			font-weight: bold;
			padding: 3px 6px;
			font-size: 12px;
			padding-top: 7px;
		}
	}
}

.post-attachments {
	float: left;
	width: 100%;
	padding: 10px;
	.item {
		position: relative;
		display: inline-block;
		margin: 5px 15px;
	}
	.image-icon {
		position: absolute;
		top: -5px;
		cursor: pointer;
	}
	.remove {
		right: -12.5px;
	}
	.rotate {
		left: -12.5px;
	}
}

.mobile-form {
	padding: 15px 10px;
	.post {
		width: 50%;
		a {
			height: 25px;
			padding-top: 3px;
		}
	}
	.post-admin-buttons {
		position: relative;
		width: 50%;
		.btn {
			width: 100%;
			padding: 5px;
			i {
				color: $dark_blue;
				font-size: 16px;
			}
		}
		.upload-media-component {
			width: 49%;
			float: left;
			a {
				padding: 2px 5px;
			}
		}
		.embed-video {
			width: 49%;
			float:right;
			a {
				padding: 2px 5px;
			}
		}
		.url-field {
			position: relative;
			right: 100%;
			top: 10px;
			width: 400%;
			margin: 0;
			.go {
				width: 50px;
				margin: 0;
				margin-bottom: 3px;
				margin-left: 5px;
				padding: 3px 6px;
				font-size: 12px;
			}
		}
	}
	.post-attachments {
		padding: 10px;
	}
}

.mobile-message {
	.header {
		padding: 7.5px;
	}
	.body {
		padding: 0 7.5px;
	}
}

.comment-form .mobile-form {
	.post-message {
		margin: 0;
	}
}

.mobile-comment {
	padding: 7.5px;
	.admin-buttons {
		float:none;
		text-align:right;
		.btn {
			margin: 2px;
		}
	}
	.with-buttons {
		width: calc(100% - 80px);
	}
}
