.mini-data-capture-form {
  .form-inputs {
    padding: 20px 0;
    .form-control {
      border-radius: 1px;
      margin-bottom: 10px;
      height: 40px;
    }
    .form-control:nth-child(1) {
      width: 49%;
      float: left;
    }
    .form-control:nth-child(2) {
      width: 49%;
      float: right;
    }
  }
  .alert {
    margin-top: 0;
  }
}
