.mini-data-capture-form {
  .form-inputs {
    padding: 10px 0;
    input:focus {
      border-color: #B60011;
      box-shadow: 0 1px 1px #ffffff inset, 0 0 8px #B60011;
      outline: 0 none;
    }
    .form-control {
      border-radius: 1px;
      margin-bottom: 10px;
      height: 40px;
    }
    .form-control:nth-child(1) {
      width: 49%;
      float: left;
    }
    .form-control:nth-child(2) {
      width: 49%;
      float: right;
    }
  }
  .alert {
    margin-top: 0;
  }
}
