.mini-profile-tooltip {
  text-align: center;
  width: 230px;
  border-radius: 10px;
  .user-display-tooltip-header {
    background-color: #F5F6F7;
    padding-top: 25px;
    padding-bottom: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    p {
      margin: 0;
    }
  }
  .user-display-tooltip-body {
    p {
      font-size: 14px;
      font-weight: normal;
      line-height: 18px;
      margin: 0;
    }
    p:nth-child(2) {
      font-weight: 600;
    }
    p:nth-child(3), p:nth-child(5) {
      margin-bottom: 20px;
    }
    p:nth-child(4) {
      color: $site_red;
      text-decoration: underline;
    }
    padding: 20px 30px;
    .profile-image {
      height: 105px;
      width: 105px;
      margin: 0 auto;
      margin-bottom: 20px;
      img {
        height: 100%;
        width: 100%;
      }
    }

  }
}
