.mini-data-capture-form {
  width: 100%;
  padding: 20px;
  .upload-image {
    width: 40%;
    float: left;
    padding: 20px;
    height: 200px;
    text-align: center;
  }
  .form-inputs {
    width: 60%;
    float: left;
    padding: 20px;
    input:focus {
      border-color: #B60011;
      box-shadow: 0 1px 1px #ffffff inset, 0 0 8px #B60011;
      outline: 0 none;
    }
    .form-control {
      border-radius: 1px;
      margin-bottom: 10px;
      height: 40px;
    }
    .form-control:nth-child(1) {
      width: 49%;
      float: left;
    }
    .form-control:nth-child(2) {
      width: 49%;
      float: right;
    }
  }
}
