.resource-widget {
  border: 1px solid $darkGreyBackground;
  margin: 0 0 20px 0;
  .col-sm-12 {
    padding: 0 22px;
    background-color: $white;
  }
  .title {
    background-color: $secondaryColour;
    color: $white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    h4 {
      font-size: 21px;
      font-weight: 600;
      margin: 0;
      padding: 12px;
    }
  }
  .resource-group {
    display: block;
    background-color: $white;
    padding: 25px 0;
    border-bottom: 2px solid $darkGreyBackground;
    h5 {
      font-size: 20px;
      margin-top: 0;
      font-weight: 600;
    }
    .resource-display {
      padding: 5px;
      font-size: 20px;
      i {
        color: $primaryColour;
      }
      p {
        display:inline;
        margin-left: 20px;
        vertical-align: middle;
        font-weight: bold;
        border-bottom: 1px solid $underlineGrey;
        a:link, a:visited {
          color: black;
        }
        a:hover {
          text-decoration: none;
        }
      }
    }
  }
  .resource-group:last-child {
    border-bottom: none;
  }
}
