.slideshow-module {
  background-color: $white;
  padding: 30px;
}

.slideshow-arrows {
  span {
    cursor: pointer;
  }
  .slideshow-prev-arrow {
    float: left;
    width: 50%;
  }
  .slideshow-next-arrow {
    float: right;
    width: 50%;
    text-align: right;
  }
}

.slideshow-nav-items {
  display: inline-block;
  width: 100%;
  height:50px;
  .block-nav {
    height:100%;
    display: inline-block;
    width: 20%;
    background-color: #c7cacd;
    .main-block {
      width: calc(100% - 20px);
      float: left;
      height:100%;
      color: $white;
      background-color: #c7cacd;
    }
    .right-block {
      width: 20px;
      float: left;
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 10px solid #c7cacd;
      height: 100%;
    }
    .left-block {
      height: 100%;
      width: 10px;
      float: left;
    }
    .circle {
      width: 30px;
      height: 30px;
      background-color: $white;
      border-radius: 50%;
      color: $site_red;
      text-align: center;
      margin: 10px 5px;
      float: left;
      h5 {
        margin-top: 5px;
        font-weight: bold;
        font-size: 20px;
      }
    }
  }
  .active {
    width: 60%;
    background-color: $dark_blue;
    .main-block {
      background-color: $dark_blue;
    }
    .right-block {
      background-color: $white;
      border-left: 10px solid $dark_blue;
    }
    .left-block {
      background-color: $dark_blue;
    }
    .text {
      display: block;
      margin-top: 5px;
    }
  }
  .first-item {
    .right-block {
      background-color: $white;
    }
  }
  .second-item {
    background-color: #c7cacd;
    .right-block {
      border-left: 10px solid #c7cacd;
      background-color: $white;
    }
    .left-block {
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 10px solid $white;
    }
  }
  .last-item {
    .right-block {
      background-color: $white;
    }
    .left-block {
      border-top: 25px solid transparent;
      border-bottom: 25px solid transparent;
      border-left: 10px solid $white;
    }
  }
}

@media (min-width: 768px) {
  .slideshow-nav-items {
    .block-nav {
      width: 33.333%;
      .main-block {
        width: calc(100% - 40px);
        padding: 0 15px;
        .text {
          display: block;
          margin-left: 10px;
          float: left;
          margin-top: 5px;
          h4 {
            font-size: 18px;
            font-weight: bold;
          }
        }
        .circle {
          margin-top: 10px;
        }
      }
      .left-block {
        width: 20px;
      }
      .right-block {
        width: 20px;
        border-left: 20px solid #c7cacd;
      }
    }
    .active {
      width: inherit;
      .main-block {
        .text {
          display: none;
        }
      }
      .right-block {
        border-left-width: 20px;
      }
    }
    .second-item {
      .right-block {
        border-left-width: 20px;
      }
      .left-block {
        border-left-width: 20px;
      }
    }
    .last-item {
      .left-block {
        border-left-width: 20px;
      }
    }
  }
}
