.tab-bar {
  width: 100%;
  background-color: $lightGreyBackground;
  .tab-btn {
    text-align: center;
    width: 33.3333%;
    padding: 15px 5px;
    float: left;
    background-color: $darkGreyBackground;
    cursor: pointer;
    vertical-align: middle;
    min-height: 30px;
    &.active {
      height:100%;
      background-color: $whiteBackground;
    }
  }
}

.view-stack {
  background-color: $whiteBackground;
}

@media (min-width: 768px) {
  .tab-bar {
    .tab-btn {
      min-height: 80px;
      padding: 20px 5px;
    }
  }
}
