.action-learning-zone {
  background-color: $light_grey;
  .row {
    margin: 0;
  }
  .header-page {
    padding: 20px;
    background: url('/assets/img/my-cohort.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
    border-bottom: 1px solid #ccc;
    text-align: center;
    h2 {
      font-size: 30px;
      font-weight: bold;
      margin: 0;
      color: $dark_blue;
    }
  }
  .tab-btn {
    font-size: 14px;
  }
  .alz-message-board {
    h4 {
      font-weight: 600;
      margin-top: 0;
      background-color: $site_red;
      color: $white;
      padding: 15px 30px;
    }
    .message-inner {
      padding: 0 10px;
    }
    .message-board {
      padding: 0;
      margin-top: 20px;
    }
    .upload-media-component, .embed-video {
      .btn {
        font-weight: normal;
      }
    }
  }
  .members-module {
    padding-top: 20px;
    h4 {
      margin: 20px;
      font-weight: 600;
      margin-top: 15px;
    }
  }
}

@media (min-width: 768px) {
  .action-learning-zone {
    .header-page {
      height: 175px;
      padding: 35px 20px;
      text-align: left;
      h2 {
        font-size: 40px;
        margin-top: 30px;
      }
    }
    .tab-btn {
      font-size: 15.5px;
    }
    .alz-message-board {
      .message-inner {
        padding: 0 30px;
        padding-bottom: 20px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .action-learning-zone {
    .right-bar {
      padding: 30px 20px;
      background-color: $light_grey;
    }
    .left-bar {
      border-right: 2px solid $dark_grey;
      background-color: $white;
      padding: 0;
    }
  }
}
