.activity-view {
  background-color: $light_grey;
  .header {
    padding: 75px 45px;
    color: $white;
    background: url('/assets/img/red-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .icon {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      background-color: $white;
      color: $dark_blue;
      border-radius: 50%;
      font-size: 30px;
    }
    i {
      font-size: 60px;
      margin-top: 20px;
      margin-left: 20px;
    }
    h4:first-child {
      margin-top: 10px;
    }
    h4, h2 {
      margin: 0;
      font-weight: bold;
    }
    h2 {
      margin: 5px 0;
    }
  }
  .left-bar {
    padding: 0;
    background-color: $white;
  }
  .right-bar {
    padding: 15px;
  }
  .overview {
    padding: 40px 25px;
    h4 {
      font-weight: 600;
    }
  }
  .overview-inner {
    padding: 20px 30px;
    h3 {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    h3:first-child {
      margin-top: 0;
    }
    h5 {
      margin-bottom: 5px;
      font-size: 18px;
    }
  }
  .row {
    margin: 0;
  }
  .tab-btn {
    width: 50%;
  }
  .view-stack {
    padding: 10px;
  }
}

@media (max-width: 767px) {
  .activity-view {
    h2 {
      font-size: 30px;
    }
    h4 {
      font-size: 16px;
    }
    .overview {
      padding: 0;
    }
    .overview-inner {
      padding: 5px;
    }
    .header {
      text-align: center;
      padding: 20px;
    }
  }
}
