.activity-view {
  background-color: $whiteBackground;
  h4 {
    font-size: 16px;
  }
  h2 {
    font-size: 30px;
  }
  .header {
    padding: 20px;
    color: $secondaryFontColour;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    .icon {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      background-color: $whiteBackground;
      color: $secondaryFontColour;
      border-radius: 50%;
      font-size: 30px;
      text-align: center;
    }
    i {
      font-size: 60px;
      line-height: 100px;
    }
    h4, h2 {
      margin: 0;
      font-weight: bold;
    }
    h2 {
      margin: 5px 0;
    }
  }
  .tab-bar {
    .tab-btn {
      width: 50%;
    }
  }
  .main {
    background-color: #f8f8f8;
  }
  .overview {
    padding: 0;
    h4 {
      font-weight: 600;
    }
  }
  .overview-inner {
    padding: 5px;
    h3 {
      margin-top: 20px;
      margin-bottom: 20px;
    }
    h3:first-child {
      margin-top: 0;
    }
    h5 {
      margin-bottom: 5px;
      font-size: 18px;
    }
  }
  .row {
    margin: 0;
  }
  .tab-btn {
    width: 50%;
  }
  .view-stack {
    padding: 10px;
  }
}

@media (min-width: 768px) {
  .activity-view {
    h4 {
      font-size: 21px;
    }
    h2 {
      font-size: 40px;
    }
    .header {
      text-align: left;
      padding: 30px 45px;
    }
    .overview {
      padding: 15px 25px;
    }
    .overview-inner {
      padding: 20px 30px;
    }
  }
}

@media (min-width: 1024px) {
  .activity-view {
    .left-bar {
      padding: 0;
      background-color: $whiteBackground;
    }
    .right-bar {
      padding: 15px;
      background-color: $lightGreyBackground;
    }
  }
}
