.action-learning-zone {
  background-color: $light_grey;
  .row {
    margin: 0;
  }
  .header-page {
    padding: 60px 30px;
    background: url('/assets/img/red-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
    select {
      height: 40px;
      border-radius: 0;
    }
    h1 {
      font-weight: 800;
      margin: 0;
    }
  }
  .alz-message-board {
    padding: 20px 10px;
  }
  .right-bar {
    padding: 20px;
  }
  .left-bar {
    border-right: 2px solid $dark_grey;
    background-color: $white;
  }
}

@media (max-width: 767px) {
  .action-learning-zone {
    .header {
      h1 {
        text-align: center;
        margin-bottom: 20px;
      }
    }
  }
}

@media (max-width: 400px) {
  .action-learning-zone {
    .tab-bar {
      .tab-btn {
        font-size: 14px;
      }
    }
  }
}
