.faq {
  background-color: $white;
  .header {
    text-align: center;
    padding: 40px;
    color: $white;
    background-color: $site_red;
    .text {
      max-width: 600px;
      margin: 0 auto;
    }
    h1 {
      margin-bottom: 20px;
      font-weight: bold;
    }
  }
  .right-bar {
    .faq-panel {
      margin-left: 0;
    }
  }
  .left-bar {
    .faq-panel {
      margin-right: 0;
    }
  }
}

@media (max-width: 991px) {
  .faq {
    .faq-panel {
      margin: 20px !important;
    }
  }
}
