.home {
  .row {
    margin: 0;
  }
  .header-page {
    background: url('/assets/img/home-introduction.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
    padding: 60px 0px;
    text-align: center;
    a {
      color: $white;
    }
    h1 {
      font-weight: bold;
    }
    .inner {
      padding: 10px;
      max-width: 500px;
      margin: 0 auto;
    }
    img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 2px solid $white;
      margin: 0 auto;
      display: block;
    }
  }
  .go-to-alz {
    border: 2px solid $white;
    border-radius: 5px;
    padding: 10px;
    width: 55%;
    margin: 0 auto;
    cursor: pointer;
    p {
      margin: 0;
    }
  }
  .left-bar {
    background-color: $white;
    padding: 0;
  }
  .right-bar {
    background-color: $light_grey;
    height: 1413px;
    padding-left: 5px;
    padding-right: 5px;
  }
  .home-learning {
    h5 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    h6 {
      color: $site_red;
      font-size: 14px;
      text-align: right;
      font-weight: bold;
    }
  }
  .learning-journey {
    padding: 40px;
    a {
      color: $site_red;
    }
  }
  .grid-links {
    text-align: center;
    .grid-panel {
      height: 300px;
    }
    .featured {
      background-color: $site_red;
      color: $white;
    }
    .programme {
      background: url('/assets/img/home-programme.png');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color: $white;
      padding: 20px;
      a {
        color: $white;
      }
    }
    .help {
      background: url('/assets/img/home-help.png');
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      color: $white;
      padding: 20px;
      a {
        color: $white;
      }
    }
    .log {
      background-color: $white;
      padding: 20px;
      a {
        color: $site_red;
      }
    }
    .inner {
      padding: 20px;
    }
    .circle {
      margin: 30px auto;
      height: 90px;
      width: 90px;
      border: 2px solid $white;
      border-radius: 50%;
    }
    .find-out-more {
      cursor: pointer;
      border: 2px solid $white;
      width: 60%;
      display: block;
      margin: 25px auto;
      h6 {
        color: $white;
        text-align: center;
      }
    }
    .find-out-more-red {
      cursor: pointer;
      border: 2px solid $site_red;
      width: 60%;
      display: block;
      margin: 25px auto;
      h6 {
        color: $site_red;
        text-align: center;
      }
    }
  }
  .message-list {
  	height: 1241px;
  	overflow-y: scroll;
  }
}

.home-tabs {
  .tab-bar {
    .tab-btn {
      width: 50%;
    }
  }
}

.slide {
  height: auto;
}

.carousel {
  .icon {
    color: $white;
    border: 2px solid $white;
    height: 90px;
    width: 90px;
  }
  .carousel-indicators {
    .active {
      background-color: $white;
    }
    li {
      border: 1px solid $white;
    }
  }
}

@media (max-width: 1023px) {
  .home {
    .header {
      padding: 50px 0;
    }
    .go-to-alz {
      display: none;
    }
    .message-list {
  		height: auto
  	}
  }
}

@media (max-width: 767px) {
  .home {
    .learning-journey {
      padding: 20px;
    }
    .header {
      padding: 30px 0;
    }
    .grid-links {
      .grid-panel {
        height: auto;
      }
    }
  }
}
