.leadership-programme {
  text-align: center;
  h1 {
    font-weight: bold;
    font-size: 44px;
  }
  h3 {
    font-weight: bold;
    font-size: 35px;
  }
  .intro {
    color: $white;
    padding: 90px;
    background: url('/assets/img/programme-introduction.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    h1 {
      margin: 35px 0;
    }
  }
  .our-values {
    background-color: $white;
    padding: 40px;
  }
  .value-carousel {
    background-color: $site_red;
    .carousel {
      background-color: $site_red;
      color: $white;
      .icon {
        height: 160px;
        width: 160px;
        background-color: $white;
        color: $dark_blue;
        p {
          font-size: 115px;
        }
      }
      i {
        font-size: 100px;
      }
    }
  }
  .title-carousel {
    background-color: $white;
    .carousel {
      h3 {
        color: $site_red;
      }
      .icon {
        height: 160px;
        width: 160px;
        background-color: $site_red;
        color: $white;
        p {
          font-size: 115px;
        }
      }
      i {
        font-size: 100px;
      }
      .carousel-indicators {
        li {
          border: 1px solid $site_red;
        }
        .active {
          background-color: $site_red;
        }
      }
    }
  }
  .double-column {
    .circle {
      width: 125px;
      height: 125px;
      border-radius: 50%;
      background-color: $white;
      margin: 0 auto;
      margin-bottom: 40px;
    }
    .inner {
      padding: 80px 45px;
    }
    p {
      margin-bottom: 0;
    }
  }
  .roadmap {
    background-color: $white;
    padding: 50px;
  }
  .qualities {
    background: url('/assets/img/programme-leadership-qualities.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
    padding: 60px;
    h1 {
      margin-bottom: 20px;
    }
  }
  .carousel {
    background-color: $white;
    padding: 30px;
  }
  .blended-learning {
    padding: 60px;
    color: $white;
    background-color: $dark_blue;
    h1 {
      padding: 0;
    }
  }
  .delivery-grid {
    .icon {
      font-size: 50px;
    }
    h5 {
      font-size: 24px;
      font-weight: bold;
      margin-top: 20px;
    }
    p {
      font-size: 14px;
    }
  }
  .workshop {
    background: url('/assets/img/programme-workshop.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
    .icon {
      border: 2px solid $white;
      width: 80px;
      height: 80px;
      margin: 0 auto;
      border-radius: 50%;
      i {
        font-size: 36px;
      }
    }
  }
  .coaching {
    background-color: $white;
    h5 {
      color: $site_red;
    }
    .icon {
      background-color: $dark_grey;
      width: 80px;
      height: 80px;
      margin: 0 auto;
      border-radius: 50%;
      i {
        font-size: 36px;
      }
    }
  }
  .webinar {
    background-color: $site_red;
    color: $white;
    .icon {
      border: 2px solid $white;
      width: 80px;
      height: 80px;
      margin: 0 auto;
      border-radius: 50%;
      i {
        font-size: 36px;
      }
    }
  }
  .development {
    background: url('/assets/img/programme-development.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
    .icon {
      border: 2px solid $white;
      width: 80px;
      height: 80px;
      margin: 0 auto;
      border-radius: 50%;
      i {
        font-size: 36px;
      }
    }
  }
  .box-inner {
    max-width: 400px;
    margin: 0 auto;
    padding: 50px
  }
  .message-from {
    background-color: $site_red;
    color: $white;
    padding: 60px;
    h1 {
      margin: 0 0 40px 0;
    }
    .video {
      height: 300px;
      width: 600px;
      margin: 0 auto;
    }
  }
  .left-column {
    background-color: $white;
    .circle {
      color: $white;
      background-color: $site_red;
      p {
        font-size: 85px;
      }
      i {
        font-size: 70px;
      }
    }
  }
  .right-column {
    background: url('/assets/img/programme-what-in-it.png');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
    .circle {
      color: $dark_blue;
      background-color: $white;
      p {
        font-size: 90px;
      }
      i {
        font-size: 80px;
      }
    }
  }
  .inner {
    max-width: 740px;
    margin: 0 auto;
  }
}

@media (max-width: 550px) {
  .leadership-programme {
    .intro {
      padding: 30px;
    }
    .double-column {
      .inner {
        padding: 40px 20px;
      }
    }
    .qualities {
      padding: 30px;
    }
    .blended-learning {
      padding: 20px;
    }
    h1 {
      font-size: 30px;
    }
    .message {
      .video {
        height: 300px;
      }
    }
    .box-inner {
      padding: 20px;
    }
    .roadmap {
      padding: 20px;
    }
    .message {
      padding: 20px;
      h1 {
        margin:  20px 0;
      }
    }
  }
}

@media (max-width: 400px) {
  .leadership-programme {
    .message {
      .video {
        height: 200px;
      }
    }
  }
}
