.wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('/assets/img/login-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 530px;
  top: 200px;
  padding: 10px;
}

.login {
  background-color: $white;
  opacity: 0.9;
  padding: 70px 20px;
  border-radius: 5px;
}

.logo {
  max-width: 310px;
  margin: 0 auto;
  margin-bottom: 30px;
  img {
    display: block;
    width: 100%;
  }
}

.form {
  max-width: 310px;
  margin: 0 auto;
  button {
    background-color: $dark_blue;
    border-color: $dark_blue;
    border-radius: 5px;
  }
  input {
    border-radius: 2.5px;
    margin: 15px 0;
  }
  input:focus {
    border-color: #B60011;
    box-shadow: 0 1px 1px #ffffff inset, 0 0 8px #B60011;
    outline: 0 none;
  }
  img {
    opacity: 0.9;
  }
  .links {
    text-align: center;
    margin-top: 20px;
    a {
      cursor: pointer;
      color: $dark_blue;
      margin-bottom: 10px;
      display: block;
    }
  }
  .alert {
    text-align: center;
    margin-top: 10px;
    border: 1px solid $site_red;
    padding: 5px 10px;
  }
}
