.module-view {
  background-color: $whiteBackground;
  .header-top {
    padding: 10px;
    text-align: center;
    color: $secondaryFontColour;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .icon {
      height: 60px;
      width: 60px;
      color: $secondaryFontColour;
      border-radius: 50%;
      font-size: 30px;
      float: left;
      margin: 0;
      margin-top: 30px;
      img {
        height: 100%;
        width: 100%;
      }
    }
    h4 {
      font-size: 18px;
      font-weight: bold;
      margin: 0;
      margin-top: 15px;
    }
    h2 {
      font-weight: bold;
      margin: 0;
    }
  }
  .carousel-indicators {
    display: none;
  }
  .left-content {
    padding: 0 10px;
    margin-top: 20px;
  }
  .learning-journey-module {
    border: 1px solid $darkGreyBackground;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .message-board {
    border-radius: 2px;
    padding: 0;
    margin: 0;
    h4 {
      margin-top: 0;
      margin-bottom: 10px;
    }
    .post-form-status {
      background-color: $whiteBackground;
    }
  }
  .module-content {
    padding: 20px;
    margin: 20px 0;
    background-color: $lightGreyBackground;
    h2 {
      font-size: 34px;
      margin-top: 10px;
      text-align: center;
      font-weight: bold;
    }
    h5 {
      font-weight: bold;
    }
    ul {
      padding: 0;
    }
    li {
      background: url('/assets/img/red_tick.jpg') no-repeat left top;
      padding: 0px 0px 10px 30px;
      /* reset styles (optional): */
      list-style: none;
    }
  }
  .module-tabs {
    background-color: $whiteBackground;
  }
  .tab-bar {
    .tab-btn {
      min-height: 30px;
      padding: 15px 0;
      width: 50%;
    }
  }

  .view-stack {
    padding: 5px;
  }
  .module-carousel {
    height: 150px;
    .carousel {
      height: 100%;
    }
    .carousel-inner {
      height: 100%;
    }
    .item {
      height: 100%;
      background-size: cover;
      background-position: center;
    }
    .row {
      padding-top: 30px;
    }
    .icon {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .module-view {
    .header-top {
      padding: 35px 50px;
      text-align: left;
      .icon {
        width: 85px;
        height: 85px;
        margin: 0;
        margin-right: 30px;
      }
      h4 {
        font-size: 26px;
      }
    }
    .left-bar {
      background-color: $whiteBackground;
      padding: 0;
      min-height: 1100px;
    }
    .learning-journey-module {
      .heading {
        text-align: left;
      }
    }
    view-stack {
      padding: 10px;
    }
    .right-bar {
      padding: 10px;
      padding-bottom: 0;
      border-left: 1px solid #EFEFEF;
      background-color: $lightGreyBackground;
    }
    .left-content {
      padding: 0 25px;
    }
    .message-board {
      padding: 20px;
    }
    .module-carousel {
      height: 300px;
      .row {
        height: 90px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .module-view {
    .header-top {
      .icon {
        height: 100px;
        width: 100px;
      }
    }
    .left-content {
      padding-left: 20px;
      padding-right: 20px;
    }
    .message-list {
      max-height: 1200px;
      overflow-y: scroll;
    }
  }
}
