.module-view {
  background-color: $light_grey;
  .header-top {
    padding: 80px 40px;
    color: $white;
    background: url('/assets/img/red-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .icon {
      width: 100px;
      height: 100px;
      margin: 0 auto;
      color: $dark_blue;
      border-radius: 50%;
      font-size: 30px;
    }
    img {
      height: 100%;
      width: 100%;
    }
    h3 {
      margin-bottom: 5px;
    }
    h2 {
      font-weight: bold;
      margin-top: 30px;
    }
    .col-sm-2 {
      padding-right: 0;
    }
    .col-sm-10 {
      padding-left: 0;
    }
  }
  .carousel-indicators {
    display: none;
  }
  .left-bar {
    background-color: $white;
    padding: 0;
    min-height: 1100px;
  }
  .left-content {
    padding-left: 25px;
    padding-right: 25px;
    margin-top: 20px;
  }
  .learning-journey-module {
    border: 1px solid $dark_grey;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }
  .right-bar {
    padding: 10px;
    padding-bottom: 0;
  }
  .message-board {
    background-color: $white;
    border-radius: 2px;
    padding: 40px 20px;
    margin: 0;
    h4 {
      margin-top: 0;
      margin-bottom: 25px;
    }
  }
  .module-content {
    padding: 20px;
    margin: 20px 0;
    background-color: $light_grey;
    h2 {
      font-size: 34px;
      margin-top: 10px;
      text-align: center;
      font-weight: bold;
    }
    h5 {
      font-weight: bold;
    }
    ul {
      padding: 0;
    }
    li {
      background: url('/assets/img/red_tick.jpg') no-repeat left top;
      padding: 0px 0px 10px 30px;
      /* reset styles (optional): */
      list-style: none;
    }
  }
  .module-tabs {
    background-color: $white;
  }
  .tab-btn {
    width: 50%;
  }
  .view-stack {
    padding: 10px;
  }
  .module-carousel {
    height: 300px;
    .carousel {
      height: 100%;
    }
    .carousel-inner {
      height: 100%;
    }
    .item {
      height: 100%;
    }
    .row {
      padding-top: 90px;
    }
    .icon {
      display: none;
    }
    .carousel-control {
      margin-top: 125px;
    }
  }
}

@media (max-width: 1023px) {
  .module-view {
    .header-top {
      h2 {
        margin-top: 10px;
      }
    }
  }
}

@media (max-width: 767px) {
  .module-view {
    .header-top {
      text-align: center;
      padding: 10px;
    }
    .view-stack {
      padding: 5px;
    }
    .message-board {
      padding: 0px;
    }
    .module-carousel {
      .row {
        padding-top: 30px;
      }
    }
  }
}
