.on-boarding {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('/assets/img/login-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h1 {
    font-weight: bold;
    font-size: 40px;
  }
  .header {
    width: 100%;
    background-color: $white;
    padding: 10px;
    height: 100px;
    .logo {
      margin-bottom: 0;
      width: 100%;
      max-width: 355px;
    }
  }
  .slide-container {
    opacity: 0.9;
  }
  .slideshow-nav {
    position: absolute;
    width: calc(100% - 60px);
    bottom: 30px;
  }
  .slideshow-nav-items {
    display: none;
  }
  .slideshow-module  {
    position: relative;
    width: 750px;
    height: 520px;
    margin: 50px auto;
  }
  .footer {
    height: 100px;
    background-color: $dark_blue;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.slide {
  height: 520px;
  .row {
    margin: 0;
  }
  .body {
    padding: 20px;
  }
  .nav {
    i {
      color: $site_red;
    }
  }
}

.body {
  img {
    display: block;
    margin: 0 auto;
  }
}

.slideshow-module.welcome {
  background-color: $site_red;
  color: $white;
  .body {
    padding: 40px;
    height: calc(100% - 72px);
  }
  .title {
    text-align: left;
    p {
      margin-top: 40px;
    }
  }
  .nav {
    i {
      color: $white;
    }
  }
}

.slideshow-module.profile{
  background-color: $light_grey;
  .row {
    padding: 20px;
  }
  .inner {
    padding: 25px;
    h1 {
      margin: 0 auto;
      max-width: 400px;
      color: $site_red;
      font-size: 40px;
    }
  }
  .upload-profile {
    background-color: $light_grey;
    padding: 10px;
    border: none;
    .circle-image {
      height: 60px;
      width: 60px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.slideshow-module.message-slide {
  background-color: $dark_blue;
  color: $white;
  .body {
    text-align: center;
    width: 480px;
    margin: 0 auto;
    h1 {
      max-width: 370px;
      margin: 0 auto;
    }
  }
  .video {
    margin: 30px auto;
    width: 100%;
    height: 250px;
  }

}

.slideshow-module.journey {
  p {
    margin-top: 0;
  }
  img {
    max-width: 100%;
    margin-top: 20px;
  }
  .title {
    text-align: center;
    color: $site_red;
    margin: 15px 0;
  }
  .content {
    text-align: left;
    font-size: 16px;
  }
}

.slideshow-module.progress {
  .title {
    text-align: center;
    width: 70%;
    color: $site_red;
    margin: 20px auto;
  }
  .content {
    text-align: left;
    font-size: 16px;
  }
}

.slideshow-module.final {
  .body {
    text-align: center;
  }
  background-color: $site_red;
  color: $white;
  .sub {
    width: 70%;
    margin: 0 auto;
  }
  .nav {
    i {
      color: $white;
    }
  }
  .circle {
    margin: 30px auto;
    height: 130px;
    width: 130px;
    background-color: $white;
    border-radius: 50%;
    margin-top: 50px;
    i {
      color: $dark_blue;
      font-size: 74px;
      margin-top: 28px;
    }
  }
  .btn {
    font-weight: bold;
    background-color: $dark_blue;
    color: $white;
    padding: 10px;
    width: 200px;
  }
}

@media (max-width: 767px) {
  .on-boarding {
    .slideshow-nav {
      width: calc(100% - 10px);
      bottom: 10px;
    }
    .header {
      padding: 5px;
      height: 55px;
      .logo {
        height: 100%;
        width: unset;
        margin: 0 auto;
        display: block;
      }
    }
    .footer {
      height: 50px;
    }
    .main {
      height: calc(100% - 105px);
    }
    .slide-container {
      height: 100%;
      .slideshow-module {
        overflow: hidden;
        margin: 0;
        height: 100%;
        width: 100%;
        border: none;
        padding: 0;
        img {
          height: 100px;
        }
        h1 {
          text-align: center;
          font-size: 24px;
          margin: 10px 0;
        }
        .body {
          overflow: hidden;
          width: 100%;
          margin: 0;
          padding: 0;
          height: unset;
        }
        .title {
          margin: 0 auto;
        }
        .video {
          margin: 10px auto;
          width: 90%;
          height: unset;
        }
        .inner {
          padding: 0;
          h1 {
            display: none;
          }
          .row {
            padding: 0 5px;
          }
          .btn {
            margin: 5px;
          }
          .upload-profile {
            margin-bottom: 5px;
            padding: 5px 0;
          }
          p {
            margin-bottom: 0;
          }
          .form-inputs {
            padding: 5px;
          }
          .form-control {
            margin-bottom: 2px;
            height: 35px;
          }
        }
      }
      .journey, .progress {
        img {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .on-boarding {
    .slideshow-module {
      margin: 25px auto;
    }
  }
}
