.on-boarding {
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('/assets/img/login-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  h1 {
    font-weight: bold;
  }
  .header {
    width: 100%;
    background-color: $white;
    padding: 20px;
    height: 100px;
    .logo {
      margin-bottom: 0;
      width: 100%;
      max-width: 355px;
    }
  }
  .slideshow {
    opacity: 0.9;
  }
  .slide-container {
    width: 750px;
    height: 570px;
    margin: 50px auto;
  }
  .footer {
    height: 100px;
    background-color: $dark_blue;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.slide {
  height: 520px;
  .row {
    margin: 0;
  }
  .body {
    padding: 20px;
  }
  .nav {
    i {
      color: $site_red;
    }
  }
}

.welcome {
  background-color: $site_red;
  color: $white;
  .body {
    padding: 40px;
    height: calc(100% - 72px);
  }
  .title {
    margin: 60px 0;
    text-align: left;
    p {
      margin-top: 40px;
    }
  }
  .nav {
    i {
      color: $white;
    }
  }
}

.profile-slide {
  background-color: $light_grey;
  .row {
    padding: 20px;
  }
  .inner {
    padding: 40px;
    h1 {
      margin: 0 auto;
      max-width: 400px;
      color: $site_red;
      font-size: 40px;
    }
  }
  .upload-profile {
    background-color: $light_grey;
    padding: 10px;
    border: none;
    .circle-image {
      height: 100px;
      width: 100px;
    }
  }
}

.message {
  background-color: $dark_blue;
  color: $white;
  .body {
    width: 75%;
    margin: 0 auto
  }
  .video {
    margin: 30px auto;
    width: 350px;
    height: 200px;
  }

}

.journey {
  .title {
    color: $site_red;
    margin: 40px 0;
  }
  .content {
    text-align: left;
    font-size: 16px;
  }
}

.progress {
  .title {
    width: 60%;
    color: $site_red;
    margin: 20px auto;
  }
  .content {
    text-align: left;
    font-size: 16px;
  }
}

.final {
  background-color: $site_red;
  color: $white;
  .sub {
    width: 70%;
    margin: 0 auto;
  }
  .nav {
    i {
      color: $white;
    }
  }
  .circle {
    margin: 30px auto;
    height: 130px;
    width: 130px;
    background-color: $white;
    border-radius: 50%;
    margin-top: 50px;
    i {
      color: $dark_blue;
      font-size: 74px;
      margin-top: 28px;
    }
  }
  .btn {
    background-color: $dark_blue;
    color: $white;
    padding: 10px;
    width: 90%;
  }
}

@media (max-width: 767px) {
  .on-boarding {
    .slide-container {
      width: 100%;
      margin: 0;
    }
    .main {
      height: calc(100% - 200px);
    }
    .slide-container {
      height: 100%;
    }
    .slideshow {
      height: 100%;
    }
    .slide {
      height: 100%;
    }
  }
  .profile-slide {
    .inner {
      padding: 10px;
    }
    .row {
      padding: 0;
    }
  }
  .progress {
    .title {
      width: 100%;
    }
  }
  .final {
    .sub {
      width: 100%;
    }
    .btn {
      margin: 10px 0;
    }
  }
}

@media (max-width: 420px) {
  .welcome {
    .body {
      padding: 20px;
    }
  }
}
