.personal-learning-journey{
  background-color: #eee;
  padding:20px;
  .learning-journey-module {
    margin-top:20px;
    table {
          .heading th:last-child {
            background-color:#f6f7f8;
            border-bottom:none;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
      thead{
        th {
          text-align: center;
        }
        th:first-child{
          text-align: left;
          border:none;
        }
        .learning-activity {
          text-align:left;
        }
        .title {
          text-align: left;
          font-weight:bold;
          font-size:14px;
        }
        .sub-title{
          text-align: left;
          font-weight:normal;
        }
        .table-headings th:nth-child(n+2) {
          background-color:#fafbfb;
          border-bottom:1px solid #eee;
          border-top:1px solid #eee;
        }
        .row-icon {
          position:relative;
          border:none;

          &:after{
            content: "";
            display: block;
            position: absolute;
            top:15px;
            left:19px;
            bottom:10px;
            border-left:2px dotted #222;
            height:99%;
            z-index:1;
          }

          i {
            width:35px;
            height:35px;
            border:2px solid black;
            text-align:center;
            line-height:35px;
            border-radius:50%;
            background-color:black;
            color:white;
            z-index:2;
            position:relative;
            margin-left:-5px;
            font-size:24px;
          }
        }
      }

    }
    tbody{
      tr:last-child{
        .row-icon{
          &:after {
            border-left:none;
          }
        }
      }
      .row-icon {
        text-align:left;
        position:relative;
        border:none;

        &:after{
          content: "";
          display: block;
          position: absolute;
          top:15px;
          left:19px;
          bottom:10px;
          border-left:2px dotted #222;
          height:99%;
          z-index:1;
        }

        i {
          width:25px;
          height:25px;
          border:2px solid black;
          text-align:center;
          line-height:25px;
          border-radius:50%;
          background-color:white;
          z-index:2;
          position:relative;
        }
      }
      td {
        text-align:center;
        line-height: 14px;
        vertical-align: middle;
      }
      .activity {
        text-align:left;
        font-weight:bold;
      }
      .location {
        font-weight:bold;
      }
      .status {
        font-size: 20px;
      }
    }
    tfoot{
      tr{
        td{
          &:last-child{
            background-color:#f6f7f8;
            text-align:right;
          }
          &:first-child{
            border-top:none;
          }
        }
      }
    }
  }
}
