.personal-learning-journey{
  background-color: $white;
  .header {
    padding: 50px;
    background: url('/assets/img/red-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
    text-align: center;
    h1 {
      font-size: 40px;
      margin-bottom: 30px;
      font-weight: bold;
    }
    h6 {
      font-size: 16px;
      line-height: 20px;
    }
    .text {
      max-width: 600px;
      margin: 0 auto;
    }
  }
  .body {
    padding: 20px;
    .title {
      font-size: 19px;
    }
  }
}

.plj-table {
  h2 {
    font-size: 26px;
  }
}

@media (max-width: 767px) {
  .personal-learning-journey {
    .header {
      padding: 20px;
    }
    h2 {
      margin-top: 10px;
    }
    .body {
      padding: 10px;
    }
  }
}
