.profile {
  background-color: $white;
  .header {
    padding: 60px;
    background: url('/assets/img/red-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
    h2 {
      font-weight: bold;
      margin-top: 0;
      margin-bottom: 0;
    }
    p {
      font-weight: 600;
    }
    .header-text {
      max-width: 550px;
      display: block;
      margin-left: 5px;
    }
  }
  .main {
    padding: 30px;
    .panel-header {
      padding: 25px 20px;
      h4 {
        margin: 0;
      }
    }
  }
  .main-inner {
    background-color: $light_grey;
    padding: 20px;
    border: 1px solid $dark_grey;
  }
  .upload-profile {
    margin-bottom: 5px;
    padding: 10px;
    border: none;
    p {
      font-size: 12px;
    }
  }
  .panel-inner {
    text-align: center;
  }
  h5 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  p {
    margin-bottom: 0;
  }
  .small-text {
    margin: 20px 0;
    font-size: 12px;
    line-height: 14px;
    a {
      color: $site_red;
    }
    i {
      font-size: 10px;
    }
  }
  input:disabled {
    color: #666;
    background-color: $dark_grey !important;
  }
}

@media (max-width: 1024px) {
  .profile {
    .main {
      padding: 40px;
    }
    .main-inner {
      padding: 10px;
    }
  }
}

@media (max-width: 767px) {
  .profile {
    .header {
      padding: 20px;
    }
    .main {
      padding: 0;
    }
    .main-inner {
      padding: 5px 0;
    }
    .details-panel {
      .panel-inner {
        padding: 5px;
      }
    }
  }
  label {
    font-size: 14px;
  }
}
