.recover-password {
  p {
    text-align: center;
  }
  form {
    a {
      background-color: $dark_blue;
      border-color: $dark_blue;
      border-radius: 5px;
      color: $white;
    }
    a:hover {
      color: $white;
    }
    a:active {
      color: $white;
    }
  }
}
