.toolkit-page {
  background-color: $white;
  .header {
    padding: 50px;
    background: url('/assets/img/red-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: $white;
    text-align: left;
    .header-icon {
      text-align: center;
      background-color: $light_grey;
      width: 95px;
      height: 95px;
      border-radius: 50%;
      border: 1px solid $dark_grey;
      color: $body_color;
      font-size: 60px;
      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }
    h2 {
      text-align: left;
      margin: 0 30px;
      font-weight: bold;
      margin-top: 20px;
    }
    .pdf {
      text-align: center;
      font-weight: bold;
      border: 3px solid $white;
      padding: 10px 30px;
      color: $white;
      cursor: pointer;
      margin-top: 20px;
      a {
        color: $white;
      }
    }
  }
  .row {
    margin: 0;
  }
  .body {
    background-color: $light_grey;
  }
  .content {
    padding-left: 50px;
    padding-right: 10px;
  }
  .left-bar {
    background-color: $white;
    padding: 30px;
    h4 {
      font-weight: bold;
      font-size: 24px;
    }
    h5 {
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 0;
    }
    img {
      display: block;
      margin: 20px auto;
      max-width: 100%;
    }
  }
  .right-bar {
    padding: 25px;
    background-color: $light_grey;
  }
  .hints-and-tips {
    background-color: $white;
    h4 {
      color: $white;
      background-color: $dark_blue;
      padding: 20px 25px;
      font-weight: 600;
    }
    .list {
      padding: 10px;
    }
    ul {
      padding: 0;
    }
    li {
      background: url('/assets/img/red_tick.jpg') no-repeat left top;
      padding: 0px 0px 10px 30px;
      /* reset styles (optional): */
      list-style: none;
      margin: 0;
    }
  }
  .second-pdf {
    margin-top: 10px;
    padding: 20px;
    background-color: $dark_blue;
    text-align: right;
    a {
      color: $white;
      cursor: pointer;
    }
    i {
      font-size: 14px;
    }
  }
}

@media (max-width: 1022px) {
  .toolkit-page {
    .header {
      padding: 30px;
    }
    .right-bar {
      padding: 10px 0;
    }
  }
}

@media (max-width: 767px) {
  .toolkit-page {
    .header {
      h2 {
        text-align: center;
        margin: 0;
      }
      .header-icon {
        display: block;
        margin: 0 auto;
      }
    }
    .content {
      padding: 0;
    }
  }
}
