.toolkit-page {
  background-color: $whiteBackground;
  .header {
    padding: 30px;
    background-color: #E0DCD6;
    color: $secondaryFontColour;
    .header-icon {
      background-color: $lightGreyBackground;
      width: 95px;
      height: 95px;
      border-radius: 50%;
      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }
    h2 {
      text-align: center;
      font-weight: bold;
      margin-top: 20px;
    }
    .header-icon {
      display: block;
      margin: 0 auto;
    }
  }
  .row {
    margin: 0;
  }
  .body {
    background-color: $lightGreyBackground;
  }
  .left-bar {
    background-color: $whiteBackground;
    padding: 30px;
    h4 {
      font-weight: bold;
      font-size: 24px;
    }
    h5 {
      font-size: 17px;
      font-weight: bold;
      margin-bottom: 0;
    }
    img {
      display: block;
      margin: 20px auto;
      max-width: 100%;
      height: inherit !important;
    }
  }
  .right-bar {
    padding: 10px 0;
    background-color: $lightGreyBackground;
  }
  .hints-and-tips {
    background-color: $whiteBackground;
    h4 {
      color: $whiteFontColour;
      background-color: $secondaryColour;
      padding: 20px 25px;
      font-weight: 600;
    }
    .list {
      padding: 10px;
    }
    ul {
      padding: 0;
    }
    li {
      background: url('/assets/img/red_tick.jpg') no-repeat left top;
      padding: 0px 0px 10px 30px;
      /* reset styles (optional): */
      list-style: none;
      margin: 0;
    }
  }
  .second-pdf {
    margin-top: 10px;
    padding: 20px;
    background-color: $secondaryColour;
    text-align: right;
    a {
      color: $whiteFontColour;
      cursor: pointer;
    }
    i {
      font-size: 14px;
    }
  }
}

@media (min-width: 768px) {
  .toolkit-page {
    .header {
      padding: 30px;
    }
    h2 {
      text-align: left;
      margin: 0 30px;
    }
    .pdf {
      text-align: center;
      font-weight: bold;
      border: 3px solid $secondaryFontColour;
      padding: 10px 30px;
      color: $secondaryFontColour;
      cursor: pointer;
      margin-top: 20px;
      a {
        color: $secondaryFontColour;
      }
    }
    .content {
      padding-left: 50px;
      padding-right: 10px;
    }
    .right-bar {
      padding: 10px 0;
    }
  }
}


@media (min-width: 1024px) {
  .toolkit-page {
    .header {
      padding: 35px;
    }
    .right-bar {
      padding: 25px;
    }
  }
}
