.profile {
  .header {
    background-position: center;
    padding: 45px 30px;
  }
  .main {
    padding: 30px;
  }
  .main-inner {
    padding: 20px;
  }
  .details-panel {
    .panel-inner {
      padding: 30px;
    }
  }
  label {
    font-size: 15.5px;
  }
}
