.right-bar .row {
  margin-left: 0;
  margin-right: 0;
}

#connections-wall {
  background-color: $whiteBackground;
  padding: 25px;
}
.wall-post {
  text-align:center;
  background-color: $lightGreyBackground;
  width: 250px;
  min-height: 350px;
  border: 1px solid $darkGreyBackground;
  padding: 8px;
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  position: relative;
  >.users-post-label{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  h5 {
    font-size: 20px;
    font-weight: bold;
    height: 45px;
  }

  &.users-post {
    background-color: $whiteBackground;
    border-color: #C2FF87;
    box-shadow: 0 0 7px #C2FF87;
  }

  .post-evidence {
    margin-bottom: 20px;
    width: 100%;
    height: 140px;
    position: relative;
    overflow: hidden;
    .video{
      height: 100%;
    }
    .placeholder-image {
      width: 258px;
      left: -13px;
      position: absolute;
    }
  }
  .post-details {
    height: 75px;
    .post-name {
      margin-bottom: 10px;
      img{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        margin-right: 5px;
      }
    }
    .post-date {
      font-size: 12px;
      font-style: italic;
    }
  }
  .post-like {
    font-weight: bold;
    button{
      background-color: #B2C3CB;
      border: none;
      border-radius: 100%;
      padding: 4px 8px;
      margin-right: 5px;
      .fa.fa-thumbs-o-up {
        color: $whiteFontColour;
        font-size: 16px;
      }
    }
  }
  .upload-evidence{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    border: 3px solid $primaryColour;
    background-color: transparent;
    padding: 5px 23px;
  }

  &.post-liked button {
    background-color: $primaryColour;
  }
}

.top-10-widget {
  .row{
    margin-left: 0;
    margin-right: 0;
  }
  border: 1px solid $darkGreyBackground;
  margin: 0 0 20px 0;
  .col-sm-12 {
    padding: 10px 22px;
    background-color: $whiteBackground;
  }
  .title {
    background-color: $primaryColour;
    color: $whiteFontColour;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    h4 {
      font-size: 21px;
      font-weight: 600;
      margin: 0;
      padding: 12px;
    }
  }
  ul {
    list-style: none;
    li {
      border-bottom: 1px dotted $darkGreyBackground;
      padding-bottom: 3px;
      div{
        display: inline-block;
      }
      &:not(:first-child) {
        margin-top: 4px;
      }
      &:not(:last-child) {
        margin-bottom: 3px;
      }

    }
  }
  .body{
    font-weight: bold;
  }
  .top-10-rank {
    color: $primaryColour;
    width: 15px;
  }
  .top-10-name {
    width: calc(100% - 70px);
    >span{
      text-decoration: underline;
      margin-right:5px;
    }
  }
  .top-10-likes {
    width: 55px;
    .top-10-icon {
      background-color: $primaryColour;
      padding: 0 6px;
      padding-bottom: 2px;
      border-radius: 100%;
      margin-right: 10px;
    }
    div {
      display: inline;
    }
  }
  .fa.fa-thumbs-o-up {
    color: $whiteFontColour;
    font-size: .8em;
  }
  .fa-trophy, .fa-star {
    color: #DAA520;
  }
}
