// use this file to add your own local config.
module.exports = {
  api: {
    url: "http://192.168.1.57:8888/app_dev.php/",
    clientId: '1_100hxv5prstw8w0k00wk0s8o0o4gc4w0ocs4kkswk0088gck8c',
    appSecret: '1h6uycoxy85c4ckw0go48osg48844k0okgss084w4wgggw0ow8'
  }
};
