.toolkits {
  .header {
    padding: 45px 30px;
    text-align: left;
    background-position: left;
    h1 {
      font-size: 40px;
      margin-bottom: 20px;
      margin-top: 20px;
    }
  }
}
.toolkit-widget {
  padding: 25px;
  h3 {
    min-height: 80px;
  }
}
