.leadership-programme {
  h1 {
    font-size: 44px;
  }
  .intro {
    padding: 135px 0;
    h1 {
      font-size: 50px;
      margin: 35px 0;
    }
  }
  .our-values {
    padding: 100px;
  }
  .value-carousel {
    padding: 45px 0;
  }
  .title-carousel {
    pading-top: 60px;
    padding-bottom: 105px;
  }
  .double-column {
    .circle {
      margin-bottom: 50px;
    }
    .inner {
      padding: 95px 0;
    }
  }
  .roadmap {
    padding-top: 80px;
    padding-bottom: 65px;
  }
  .qualities {
    padding: 80px;
  }
  .blended-learning {
    padding: 135px;
  }
  .delivery-grid {
    div {
      height: 450px;
    }

    .box-inner {
      padding-top: 65px;
      padding-bottom: 95px;
    }
  }
  .message-from {
    padding: 70px
  }
}
